<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <%= render partial: 'new_todo', locals: { todo: @todo } %>
  </header>
  <!-- This section should be hidden by default and shown when there are todos to display -->
  <section id="main">
    <%= render partial: 'toggle_all', locals: { any_complete: @any_complete } if @todos.count > 0 %>
    <ul id="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      <%= render @todos %>
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
  <footer id="footer">
    <!-- This should be `0 items left` by default -->
    <%= render partial: 'count', locals: { count: @todos.count } %>
    <ul id="filters">
      <li>
        <a class="selected" href="/">All</a>
      </li>
      <li>
        <a href="/active">Active</a>
      </li>
      <li>
        <a href="/completed">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <%= button_to clear_completed_todos_path, remote: true, id: 'clear-completed', class: "#{'hidden' unless @any_complete}", method: :delete do %>
      Clear completed
    <% end %>
  </footer>
</section>
<footer id="info">
  <p>Double-click to edit a todo</p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>